In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_mergers_and_acquisitions_by_Alphabet"

In [3]:
response = requests.get(url)

In [4]:
response.status_code

200

In [5]:
soup = BeautifulSoup(response.text, "html.parser")

In [6]:
selection_class = "wikitable"
table = soup.find_all('table', {"class": selection_class})

In [11]:
len(table[0].find_all("td"))

1960

In [12]:
td_tags = table[0].find_all("td")

In [13]:
len(td_tags)

1960

In [27]:
td_tags[].text.strip()

'3'

In [32]:
rank = []
for i in range(0,len(td_tags),8):
    rank.append(td_tags[i].text.strip())

In [30]:
rank

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39',
 '40',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '47',
 '48',
 '49',
 '50',
 '51',
 '52',
 '53',
 '54',
 '55',
 '56',
 '57',
 '58',
 '59',
 '60',
 '61',
 '62',
 '63',
 '64',
 '65',
 '66',
 '67',
 '68',
 '69',
 '70',
 '71',
 '72',
 '73',
 '74',
 '75',
 '76',
 '77',
 '78',
 '79',
 '80',
 '81',
 '82',
 '83',
 '84',
 '85',
 '86',
 '87',
 '88',
 '89',
 '90',
 '91',
 '92',
 '93',
 '94',
 '95',
 '96',
 '97',
 '98',
 '99',
 '100',
 '101',
 '102',
 '103',
 '104',
 '105',
 '106',
 '107',
 '108',
 '109',
 '110',
 '111',
 '112',
 '113',
 '114',
 '115',
 '116',
 '117',
 '118',
 '119',
 '120',
 '121',
 '122',
 '123',
 '124',
 '125',
 '126',
 '127',
 '128',
 '129',
 '130',
 '131',
 '132',
 '133',
 '134',
 '135',
 '136',
 '137',
 '138',
 '139',
 '140',
 '141',
 '142',
 '143',
 '144',
 '145',
 '146',
 '147',
 '148',
 '149',
 '150',
 '151',
 '152',
 '153',
 '154',
 '155',
 '156',
 '157',
 '158',
 '159',
 '160',
 '161',
 '162',
 '163',
 '164',
 '165',
 '166',
 '167',
 '168',
 '169',
 '170',
 '171',
 '172',
 '173',
 '174',
 '175',
 '176',
 '177',
 '178',
 '179',
 '180',
 '181',
 '182',
 '183',
 '184',
 '185',
 '186',
 '187',
 '188',
 '189',
 '190',
 '191',
 '192',
 '193',
 '194',
 '195',
 '196',
 '197',
 '198',
 '199',
 '200',
 '201',
 '202',
 '203',
 '204',
 '205',
 '206',
 '207',
 '208',
 '209',
 '210',
 '211',
 '212',
 '213',
 '214',
 '215',
 '216',
 '217',
 '218',
 '219',
 '220',
 '221',
 '222',
 '223',
 '224',
 '225',
 '226',
 '227',
 '228',
 '229',
 '230',
 '231',
 '232',
 '233',
 '234',
 '235',
 '236',
 '237',
 '238',
 '239',
 '240',
 '241',
 '242',
 '243',
 '244',
 '245']

In [33]:
date = []
for i in range(1,len(td_tags),8):
    date.append(td_tags[i].text.strip())

In [34]:
len(date)

245

In [35]:
acquired= []
for i in range(2,len(td_tags),8):
    acquired.append(td_tags[i].text.strip())

In [36]:
business= []
for i in range(3,len(td_tags),8):
    business.append(td_tags[i].text.strip())

In [37]:
country= []
for i in range(4,len(td_tags),8):
    country.append(td_tags[i].text.strip())

In [38]:
price= []
for i in range(5,len(td_tags),8):
    price.append(td_tags[i].text.strip())

In [40]:
acquiring= []
for i in range(6,len(td_tags),8):
    acquiring.append(td_tags[i].text.strip())

In [41]:
data = {
    "date": date,
    "acquried_company": acquired,
    "acquring_company": acquiring,
    "business": business,
    "country": country,
    "price": price
}

In [42]:
df = pd.DataFrame(data)

In [43]:
df.head()

,date,acquried_company,acquring_company,business,country,price
0,"February 12, 2001",Dejavue,Google Groups,Usenet,United States,—
1,"September 20, 2001",Outride,Google Personalized Search,Web search engine,United States,—
2,February 2003,Pyra Labs,Blogger,Weblog software,United States,—
3,April 2003,Neotonic Software,"Google Groups, Gmail",Customer relationship management,United States,—
4,April 2003,Applied Semantics,"AdSense, AdWords",Online advertising,United States,"$102,000,000"

In [45]:
df.to_csv("mergers and acquisitions.csv", index=None)